*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 226px;
}

nav h2{
    font-weight: 800px;
    font-size: 45px;
    /* font-weight: 121px; */
}

nav h2 span{
    color: orangered;
}

nav ul{
    display: flex;
    align-items: center;
}

.nav-aitem li{
    list-style: none;
    margin-left: 51px;
}

.btn-primary{
    padding: 18px 36px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: aliceblue;
    border: 0;
    font-size: 20px;

}

.bnr{
    display: flex;
    margin: 0 0px 0 226px;
    align-items: center;
}

.bnr h1{
    font-weight: 600;
    font-size: 45px;
}

.bnr h2{
    font-weight: 700;
    font-size: 85px;
}

.bnr p{
    color: #272727;
    width: 457px;
}

.bnr img{
    border-radius: 50% 20px ;
    margin-left: 133px;
}

.header{
    background-color: #FFF8F3;
    background-image: url(/images/Untitled-1.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: left,right;

}

.about{
    max-width: 1140px;
    margin: 0 auto;
    
}
.about-me{
    margin-top: 140px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px;
    text-align: center;
}

.about-me h1{
    margin-bottom: 10px;
}

.about-me p{
    font-size: 18px;
    color: #757575;
}

.about-info-container{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}


.about .info-des{
    color: black;
}
.what-i-do{
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
section{
    margin-top: 130px;
}

.what-i{
    margin-top: 130px;
}

.what-i-do h1{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.what-i-do p{
    margin: 0 133px;
    font-weight: 400;
    font-size: 18px;
}


.skill{
    padding: 30px 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 10px;
}

.skill:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.skills-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin: 30px 0px 20px 0px;
}

.skill-description{
    font-weight: 400;
    font-size: 16px;
    width: 201px;
}
.section-title{
    text-align: center;
    
    margin-bottom: 133px;
    font-weight: 700;
    font-size: 35px;
}
.resumi-summiry{
    display: flex;
    
    
}
.colm{
    margin-left: 24px;
}
.colm h1{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;

}
.colm h2{
    font-weight: 700;
    font-size: 25px;
}

.CV-btn{
    text-align: center;
    margin-top: 70px;
}

.CV-btn a{
    text-decoration: none;
    color: aliceblue;
}
footer{
    height: 780px;
    width: 100%;
    background: #FFF8F3;
    padding-top: 100px;
    
}
.contact{
    display: flex;
    justify-content: space-around;
    margin: 100px 200px;
}
.time-schedul{
    width: 562px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #474747c0;
}
.list-connect{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
}